/.vscode/
/.metals/
/consumer/.bloop
/consumer/.bsp
/consumer/project
/consumer/target
/producer/.bsp
/producer/.metals
/producer/.vscode
/producer/.bloop
/producer/project
/producer/target
/sliding_plot/.bsp
/sliding_plot/.metals
/sliding_plot/.vscode
/sliding_plot/.bloop
/sliding_plot/project
/sliding_plot/target
/example_plot/.bsp
/example_plot/.metals
/example_plot/.vscode
/example_plot/.bloop
/example_plot/project
/example_plot/target
/non_streaming_plot/.bsp
/non_streaming_plot/.metals
/non_streaming_plot/.vscode
/non_streaming_plot/.bloop
/non_streaming_plot/project
/non_streaming_plot/target
.metals
.vscode
/producer/src/main/resources/application.conf
example_producer/project/*
example_producer/target/*
*.log
consumer/lib/*
sentiment_storage/*
live_agg/*
*sync-conflict*
producer/src/main/resources/application.conf
consumer/checkpoints
